{% extends 'base.html.twig' %}

{% block title %}Question{% endblock %}

{% block body %}
    <h1>Question</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Texte</th>
                <td>{{ question.texte }}</td>
            </tr>
            <tr>
{% for reponse in question.reponses %}
                <th>réponse{{ loop.index }}</th>
                <td>
{{ reponse.texte }}
                </td>
			</tr>
{% endfor %}

        
            </body>
    </table>
{% endblock %}
