{% extends 'base.html.twig' %}

{% block title %}Accueil des réponses{% endblock %}

{% block body %}
    <h1>Accueil de tout les quiz</h1>
<p>Voici l'ensemble des réponses des différents quiz</p>
    <table class="table">
        <thead>
            <tr>
                                <th>Email</th>
                                <th>Quiz</th>
                <th>Répondu le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponse %}
            <tr>
                <td>{{ reponse.email }}</td>
<td>{{ reponse.quiz.nom }}</td>
                <td>{{ reponse.CreatedAt ? reponse.CreatedAt|date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('reply_show', {'id': reponse.id}) }}">Afficher</a>
                                                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
