<p>Mesdames, messieurs, vous venez de recevoir un quiz sur la thématique du handicap.</p>
<p>Celui-ci vous est proposé par handy-Quiz, pour y répondre rien de plus simple, il vous suffit de cliquer sur le lien ci-dessous.</p>
<p><a href="{{ path('reply_repondre', {'id': quizid, verif: quizemailhash}) }}">Cliquez sur ce lien pour répondre au quiz</a
></p>